In [1]:
x = 5

In [2]:
del x

In [3]:
print(x)

NameError: name 'x' is not defined

In [5]:
mylist = [1,2,3,4,5]
for i in mylist:
    print(i)

1
2
3
4
5

In [3]:
for i in mylist:
    mylist.append('wow')
print(mylist)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

KeyboardInterrupt:

In [6]:
for i in mylist[:]:
    mylist.append('wow')
print(mylist)

[1, 2, 3, 4, 5, 'wow', 'wow', 'wow', 'wow', 'wow']

In [7]:
mylist = [1,2,3,4,5,6,7,8]
for i in mylist:
    mylist.remove(i)
print(mylist)

[2, 4, 6, 8]

In [9]:
def add_to_list(mylist):
    mylist.append('apples')
    return mylist

new_list = add_to_list()
print(new_list)
new_list2 = add_to_list()
print(new_list2)

['apples']
['apples', 'apples']

# Sets

In [10]:
myset = set()

In [11]:
type(myset)

set

In [12]:
print(myset)

set()

In [13]:
fruits = {'apple' , 'orange' , 'apple' , 'orange', 'pear' , 'banana'}

In [14]:
print(fruits)

{'pear', 'orange', 'banana', 'apple'}

In [15]:
unique = set('fjksdjkfjakjkfdsjakljfdksjk;aj')

In [16]:
print(unique)

{'k', 's', 'l', 'f', 'd', 'j', ';', 'a'}

In [17]:
'orange' in fruits

True

In [18]:
'kiwi' in fruits

False

In [19]:
alpha = set('hellojello')
beta = set('pythonvython')

In [20]:
print(alpha)

{'h', 'l', 'e', 'j', 'o'}

In [21]:
print(beta)

{'h', 'y', 'n', 'o', 'p', 'v', 't'}

In [22]:
alpha - beta

{'e', 'j', 'l'}

In [23]:
alpha | beta

{'e', 'h', 'j', 'l', 'n', 'o', 'p', 't', 'v', 'y'}

In [24]:
alpha & beta

{'h', 'o'}

In [25]:
alpha ^ beta

{'e', 'j', 'l', 'n', 'p', 't', 'v', 'y'}

In [26]:
gama = {1,2,3,4,5}
eta = {2,3,'hello', 'python'}

In [27]:
print(gama , eta , sep = '\n')

{1, 2, 3, 4, 5}
{'hello', 2, 3, 'python'}

In [28]:
gama.add(10)

In [29]:
print(gama)

{1, 2, 3, 4, 5, 10}

In [30]:
gama.add(5)

In [31]:
print(gama)

{1, 2, 3, 4, 5, 10}

In [32]:
gama.difference(eta)

{1, 4, 5, 10}

In [33]:
gama.intersection(eta)

{2, 3}

In [34]:
gama.discard(4)

In [35]:
print(gama)

{1, 2, 3, 5, 10}

In [36]:
gama.discard(8)

In [37]:
print(gama)

{1, 2, 3, 5, 10}

In [38]:
print(gama)

{1, 2, 3, 5, 10}

In [39]:
gama.union(eta)

{1, 10, 2, 3, 5, 'hello', 'python'}

In [40]:
gama.isdisjoint(eta)

False

In [41]:
gama.issubset(eta)

False

# Dictionary

In [42]:
mydictionary = {'apples': 5 , 'orange': 10 , 'pear': 8}

In [43]:
print(mydictionary)

{'apples': 5, 'orange': 10, 'pear': 8}

In [44]:
type(mydictionary)

dict

In [45]:
'apples' in mydictionary

True

In [46]:
'kiwi' in mydictionary

False

In [47]:
mydictionary2 = {'orange':10, 'pear':8, 'apples':5}

In [48]:
mydictionary == mydictionary2

True

In [50]:
print(mydictionary.get('kiwi'))

None

In [51]:
mydictionary.get('orange')

10

In [52]:
mydictionary.keys()

dict_keys(['apples', 'orange', 'pear'])

In [53]:
mydictionary.values()

dict_values([5, 10, 8])

In [54]:
mydictionary.items()

dict_items([('apples', 5), ('orange', 10), ('pear', 8)])

In [55]:
mydictionary.popitem()

('pear', 8)

In [56]:
print(mydictionary)

{'apples': 5, 'orange': 10}

In [57]:
dict([('jack', 5) , ('jill', 10) , ('hill', 100)])

{'jack': 5, 'jill': 10, 'hill': 100}

In [58]:
k = lambda x:x**2

In [59]:
k(2)

4

In [60]:
k(10)

100

In [61]:
list(map(lambda x:x**2, [2,3,4,5]))

[4, 9, 16, 25]

In [62]:
list(filter(lambda x:x>10 , [2,3,444,5,56,-29,-4]))

[444, 56]

# Sequences

In [63]:
45 in [1,2,3,4,45,90]

True

In [64]:
5 in range(3,10)

True

In [65]:
3 in (1,2,3,4,4)

True

In [67]:
5 not in range(1,10)

False

In [68]:
[2,3,4,5] + [5]

[2, 3, 4, 5, 5]

In [69]:
'hello' + 'python'

'hellopython'

In [70]:
range(0,5) + range(5,10)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [71]:
(1,2,3) + ('hello',)

(1, 2, 3, 'hello')

In [72]:
[2,3,4,5,6]*2

[2, 3, 4, 5, 6, 2, 3, 4, 5, 6]

In [73]:
'hello'*2

'hellohello'

In [74]:
range(5)*2

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [75]:
mylist = [2,3,4,5,6]
mystring = 'hello python'
myrange = range(5)
mytuple = (3,3,45,6)

In [76]:
mylist[0]

2

In [77]:
mytuple[1]

3

In [78]:
mystring[1]

'e'

In [79]:
myrange[3]

3

In [80]:
myrange[6]

IndexError: range object index out of range

In [81]:
mylist[1:3]

[3, 4]

In [82]:
mystring[1:3]

'el'

In [83]:
range(5)[1:2]

range(1, 2)

In [84]:
mytuple[1:3]

(3, 45)

In [85]:
range(9)[1:7:2]

range(1, 7, 2)

In [86]:
len(mylist)

5

In [87]:
len(mystring)

12

In [88]:
len(mytuple)

4

In [89]:
len(myrange)

5

In [90]:
min(mylist)

2

In [91]:
min(mytuple)

3

In [92]:
min(myrange)

0

In [93]:
min(mystring)

' '

In [94]:
max(mylist)

6

In [95]:
max(mytuple)

45

In [96]:
max(myrange)

4

In [97]:
mylist.index(4)

2

In [98]:
mystring.index('h')

0

In [99]:
mystring.index('k')

ValueError: substring not found

In [100]:
mytuple.index(45)

2

In [101]:
myrange.index(3)

3

In [102]:
myrange.index(9)

ValueError: 9 is not in range

In [103]:
another_list = [1,2,2,2,2,4,5,5,5,5,5,9]
another_string = 'hello this is python'
another_range = range(2,14,2)

In [104]:
another_list.count(5)

5

In [105]:
another_string.count('t')

2

In [106]:
another_range.count(60)

0

# Assignment 1

In [109]:
#q4
def print_1_to_n(n):
    for i in range(1,n+1):
        print(i)

In [110]:
print_1_to_n(10)

1
2
3
4
5
6
7
8
9
10

In [111]:
#q4
def print_1_to_n_reversed(n):
    for i in range(n,0,-1):
        print(i)

In [112]:
print_1_to_n_reversed(10)

10
9
8
7
6
5
4
3
2
1

In [113]:
def volume_sphere(n):
    return 4*3.14*(n**3)/3

In [114]:
def odd_even(n):
    for i in range(2,n+1,2):
        print(i)
    for i in range(1,n,2):
        print(i)

In [116]:
odd_even(10)

2
4
6
8
10
1
3
5
7
9

In [ ]:
def count_of_digits(n):
    return len(str(n))

In [117]:
def multiple_3or5(n):
    a = 0
    for i in range(1,n+1):
        if i%3 == 0 or i%5 == 0:
            a+=i
    return a

In [118]:
multiple_3or5(20)

98

In [121]:
def multiple_3or5_second(n):
    return sum([i for i in range(3, n+1) if i%3 == 0 or i%5 == 0])

In [122]:
multiple_3or5_second(20)

98

In [123]:
def sum_n_Squared_difference(n):
    return sum([i**2 for i in range(1,n+1)]) - (sum([i for i in range(1,n+1)]))**2

In [124]:
sum_n_Squared_difference(10)

330

In [125]:
def factor(n):
    fact = []
    for i in range(1,n+1):
        if n%i == 0:
            fact.append(i)
    return fact

In [126]:
factor(10)

[1, 2, 5, 10]

In [127]:
def find_factor3(n):
    return list(filter(lambda a: n%a == 0 , [i for i in range(1,n+1)]))

In [128]:
find_factor3(10)

[1, 2, 5, 10]

In [129]:
def factorial(n):
    p = 1
    for i in range(1,n+1):
        p=p*i
        
    return p

In [130]:
factorial(5)

120

In [131]:
def pattern1(n):
    for i in range(1,n+1):
        print('*'*i)

In [132]:
pattern1(5)

*
**
***
****
*****

In [136]:
def computeIncNumbers(a):
    n = 0
    for i in range(1,a):
        n+= int(str(a)*i)
    return n

In [138]:
computeIncNumbers(5)

6170